---
interface Props {
  name: string;
  link?: { href: string; text: string };
}

const { name, link } = Astro.props;
---

<div class="flex items-end justify-between text-sm leading-none">
  <label for={name} class="block text-violet-100/75">
    <slot />
  </label>

  {
    link && (
      <a
        href={link.href}
        class="text-violet-300/80 underline duration-200 ease-in-out hover:text-violet-300"
      >
        {link.text}
      </a>
    )
  }
</div>
