---
import Container from "@components/shared/Container.astro";
import Button from "@components/shared/Button.astro";
import { Image } from "astro:assets";

import spaceSpotlight from "@images/space-spotlight.png";
---

<Container class="py-16 sm:py-20 lg:py-24">
  {/* Text content */}
  <div class="relative z-10 flex flex-col items-center">
    <h1
      class="footer-cta__title leading-extratight max-w-5xl text-center text-4xl font-bold sm:text-5xl sm:leading-tight"
    >
      Boost your productivity.
      <br />
      Start using our app
      <span class="relative inline-block text-nowrap">
        <span
          class="footer-cta__highlight relative z-10 bg-clip-text text-transparent"
        >
          today.
        </span>
        <span
          class="footer-cta__highlight-shadow absolute -top-px left-0 -z-10"
        >
          today.
        </span>
      </span>
    </h1>
    <p
      class="footer-cta__description mt-5 max-w-xl text-center text-[17px] leading-8 sm:text-lg sm:leading-8"
    >
      Iced pumpkin mug in ut shop a doppio panna milk press americano cup bar
      fair, lait that galão irish redeye galão.
    </p>
    <div class="mt-8 flex items-center justify-center space-x-3 sm:space-x-5">
      <Button href="/signup"> Get started </Button>
    </div>
  </div>
</Container>

<Image
  src={spaceSpotlight}
  alt=""
  class="absolute -bottom-3/4 left-1/2 h-auto max-w-3xl -translate-x-1/2 object-contain opacity-90 sm:max-w-4xl md:-bottom-full lg:-bottom-[135%] lg:max-w-7xl"
/>

<style>
  @reference "../../styles/styles.css";

  .footer-cta__title {
    color: var(--primary-light);
  }

  .footer-cta__highlight {
    background-image: linear-gradient(
      to bottom,
      var(--primary-light),
      var(--primary-light),
      var(--primary)
    );
  }

  .footer-cta__highlight-shadow {
    color: var(--primary);
  }

  .footer-cta__description {
    color: var(--color-zinc-200);
  }
</style>
